[submodule "third_party/thrust"]
	path = src/third_party/thrust
	url = https://github.com/NVIDIA/thrust
[submodule "third_party/glm"]
	path = src/third_party/glm
	url = https://github.com/g-truc/glm
[submodule "third_party/google_test"]
	path = test/third_party/google_test
	url = https://github.com/google/googletest.git
[submodule "src/third_party/clipper2"]
	path = src/third_party/clipper2
	url = https://github.com/AngusJohnson/clipper2
[submodule "src/third_party/quickhull"]
	path = src/third_party/quickhull
	url = https://github.com/akuukka/quickhull
[submodule "bindings/python/third_party/nanobind"]
	path = bindings/python/third_party/nanobind
	url = https://github.com/wjakob/nanobind
