include AUTHORS
include CMakeLists.txt
include LICENSE
include pyproject.toml
include setup.py
global-exclude .github/*
graft bindings/
prune bindings/c
prune bindings/wasm
prune bindings/python/third_party/pybind11/tests/
graft src
prune src/third_party/clipper2/CPP/Examples/
prune src/third_party/clipper2/CPP/Tests/
prune src/third_party/clipper2/CSharp/
prune src/third_party/clipper2/Delphi/
prune src/third_party/clipper2/DLL/
prune src/third_party/clipper2/Tests/
prune src/third_party/glm/doc/
prune src/third_party/glm/test/
prune src/third_party/thrust/dependencies/cub/
prune src/third_party/thrust/dependencies/libcudacxx/.upstream-tests/
prune src/third_party/thrust/dependencies/libcudacxx/docker/
prune src/third_party/thrust/dependencies/libcudacxx/test/
prune src/third_party/thrust/dependencies/libcudacxx/docs/
prune src/third_party/thrust/dependencies/libcudacxx/libcxx/
prune src/third_party/thrust/dependencies/libcudacxx/libcxxabi/
prune src/third_party/thrust/dependencies/libcudacxx/libunwind/
prune src/third_party/thrust/docs/
prune src/third_party/thrust/testing/
prune src/third_party/thrust/internal/test/
prune src/third_party/thrust/examples/
prune src/third_party/thrust/thrust/system/cuda

