name: Deploy documentation 

on:
  push:
    branches:
      - master

jobs:
  deploy_github_pages:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3

    - name: Doxygen Action
      uses: mattnotmitt/doxygen-action@v1

    - name: Move deployables
      run: |
        mkdir public
        mv ./samples ./public
        mv ./docs ./public

    - name: Download built examples
      uses: dawidd6/action-download-artifact@v2
      with:
        workflow: manifold.yml
        workflow_conclusion: completed
        pr: ${{github.event.pull_request.number}}
        name: wasm
        path: ./public

    - name: Deploy to Github Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        force_orphan: true
        cname: manifoldcad.org
        publish_dir: ./public