name: publish_npm

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  publish_npm:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 20
        registry-url: 'https://registry.npmjs.org'

    - name: Setup WASM build toolchain
      run: |
        git clone https://github.com/emscripten-core/emsdk.git
        cd emsdk
        ./emsdk install 3.1.64
        ./emsdk activate 3.1.64

    - name: Build WASM runtime for npm package
      run: |
        source ./emsdk/emsdk_env.sh
        mkdir build
        cd build
        emcmake cmake -DCMAKE_BUILD_TYPE=MinSizeRel -DMANIFOLD_STRICT=ON -DMANIFOLD_PAR=OFF -DMANIFOLD_USE_BUILTIN_TBB=ON -DMANIFOLD_DEBUG=OFF -DMANIFOLD_ASSERT=OFF ..
        emmake make

    - name: Publish to npm
      run: |
        cd ./bindings/wasm/
        npm ci
        npm publish
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
